@font-face {
    font-family: 'Aleo';
    src: url(../fonts/Aleo/Aleo-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url(../fonts/Aleo/Aleo-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url(../fonts/Aleo/Aleo-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url(../fonts/Aleo/Aleo-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Magra';
    src: url(../fonts/Magra/Magra-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url(../fonts/RedHatText/RedHatText-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: grid;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8.33%;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
    height: 90px;
}

.nav_logo {
    display: flex;
    align-items: flex-end;
    margin: 16px 0;
}

.nav_list {
    display: flex;
    list-style: none;
    color: #fff;
    gap: 42px;
    font: 500 16px/21px "Red Hat Text";
}

.nav__item a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    font: Aleo;
}

.nav__item a:hover {
    color: #0D606F;
}

.nav__name {
    color: #fff;
    font: 600 29px/20px "Magra";
    margin: 0;
}

.preview__wrapper {
    display: flex;
    flex-direction: column;
    padding: 9% 0 17% 0;
    margin: 0 8.33%;
    max-width: 892px;
}

.preview {
    background: url(../img/garrett-parker-DlkF4-dbCOU-unsplash.jpg) center center no-repeat;
    background-size: cover;   
    margin-top: -91px;
}

.preview__title {
    font: 700 80px/96px "Aleo";
    color: #fff;
    margin-bottom: 35px;
    margin-top: 0;
}

.preview__subtitle {
    font: 700 italic 20px/24px "Aleo";
    color: #fff;
    margin-bottom: 46px;
}

.preview__interact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
} 

.preview__question {
    font: italic 400 24px/25px "Aleo";
    color: #F2785C;
    margin: 35px 40px;
}

.button {
    color: #fff;
    background: #0D606F;
    border-radius: 10px;
    border-style: none;
    margin: 18px;
    font: 500 24px/32px "Red Hat Text";
    padding: 13.5px 32px;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    background: #F2785C;
}

.button_login {
    color: #fff;
    background: #0D606F;
    border-radius: 10px;
    border-style: none;
    margin: 18px;
    font: 500 24px/32px "Red Hat Text";
    padding: 13.5px 32px;
    transition: 0.5s;
    cursor: pointer;
    font: 500 16px/21px "Red Hat Text";
    padding: 10px 30px;
}

.button_login:hover {
    background: #fff;
    color: 0D606F;
}

.button__arrow {
    display: flex;
    align-items: center;
}

.button__arrow img {
    margin-right: 10px;
}

.steps_title {
    font: 500 40px "Red Hat Text";
    color: #F2785C;
    text-align: center;
    padding: 40px 0;
    margin: 0;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.steps_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.steps_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 25%;
}

.steps_item img {
    background-color: #F2785C;
    padding: 24px;
    border-radius: 16px;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    cursor: pointer;
}

.steps_item img:hover {
    box-shadow: 0 4px 4px #0D606F;
}

.steps__title {
    font: 400 20px "Aleo";
    color: #0D606F;
    text-align: center;
}

.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.destinations__slider {
    display: flex;
    justify-content: center;
}

.destinations__item {
    margin: 0 30px;
}

.destinations__item img {
    border-radius: 16px;
    margin-bottom: -100px;
}

.country {
    font: 500 32px "Red Hat Text";
    color: #fff;
    margin: 15px;
}

.destinations__slider-position {
    display: flex;
    justify-content: center;
    margin: 54px 0 24px 0;
}

.slider-position__active {
    width: 20px;
    height: 20px;
    background-color: #F2785C;
    border-radius: 50%;
    margin: 0 5px;
}

.slider-position__none {
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    margin: 0 5px;
}

.stories_wrapper {
    background-image: url(../img/Rectangle-33.jpg);
    height: auto;
    margin-bottom: 0px;
}

.stories_container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px 120px 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.stories_container button {
    margin: 25px 0 0 0;
}

.stories__title {
    font: 400 35px "Aleo";
    color: #0D606F;
    margin: 0;
}

.textblock {
    margin-left: 40px;
}

article {
    font: 400 20px/24px "Aleo";
    color: #0D606F;
    margin-bottom: 0;
}

.more__link {
    font: 700 20px/24px "Aleo";
    color: #0D606F;
    margin: 0;
    transition: 0.5s;
}

.more__link:hover {
    text-decoration: none;
    color: #F2785C;
}

.stories_list {
    display: flex;
}

.stories_item {
    display: flex;
    margin: 15px 0;
}

.stories_item img {
    border-radius: 16px;
    box-shadow: 0 4px 4px #0D606F;
    height: fit-content;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    background-image: url(../img/Rectangle-33.jpg);
    margin-bottom: 0px;
}

.footer__item {
    display: flex;
    justify-content: center;
    flex: 0 0 30%;
    object-fit: contain;
}

.footer__item img {
    height: 34px;
}

.footer__rights {
    color: #fff;
    margin-bottom: 10px;
}

.footer__socials-list {
    list-style: none;
    display: flex;
    margin: 0;
}

.footer__socials-item {
    display: flex;
    margin: 0 10px;
    align-items: center;
}
